.foodItem {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 150px;
  margin: 0.5rem 0;
  overflow: hidden;
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.25));
  background: #ffffff;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  cursor: default;

  .banner {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.3s ease all;
  }

  .gradient {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(#00000000, #000000aa);
  }

  .title {
    font-weight: 300;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 0.5rem;
    position: absolute;
    bottom: 10px;
    color: #ffffff;
    z-index: 1;
    width: 99%;
  }

  .cartMenu {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    align-items: center;
    gap: 1.5rem;
    z-index: 50;
    transition: 0.3s ease all;
    opacity: 0;

    &.hide {
      display: none;
    }

    button {
      background: #ffffff;
      border: none;
      outline: none;
      display: grid;
      place-content: center;
      font-size: 1.5rem;
      height: 35px;
      width: 35px;
      border-radius: 100%;
      cursor: pointer;

      &.fadeMinus {
        opacity: 0.5;
        cursor: default;
      }
    }

    input {
      background: #ffffff;
      border: none;
      outline: none;
      text-align: center;
      font-size: 1.5rem;
      height: 35px;
      width: 35px;
      border-radius: 0.5rem;
    }
  }

  .cartAdd {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 50%);
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    width: fit-content;
    font-size: 1rem;
    z-index: 50;
    transition: 0.3s ease all;
    opacity: 0;
    background: #ffffff;
    padding: 0.5rem;
    gap: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;

    svg {
      font-size: 1.5rem;
    }
  }

  &:hover {
    .banner {
      filter: blur(5px);
    }

    .cartMenu,
    .cartAdd {
      bottom: 50%;
      opacity: 1;
    }
  }
}

// Responsive
@media only screen and (max-width: 768px) {
  .foodItem {
    height: 200px;

    &:hover {
      .banner {
        filter: unset;
      }

      .cartMenu,
      .cartAdd {
        display: none;
      }
    }
  }
}
